<!DOCTYPE html>
    <html lang=en>
    <head>
        <meta charset="UTF-8">
        <title>Coffee-on-the-go</title>
    </head>
    <body>
        <h1><b>Oops!</b></h1>
        <img src="/assets/gopher_error.png" alt="gopher" height="120" width="120">
        <p>The coffee-machine could not process this request</p>
        <p><b>HTTP Response Code:</b> {{ . }}</p>
        <p>Please double-check your order and try again!</p>
    </body>
</html>
