{{ define "coffeeready"}}
    <img src="/assets/gopher_coffee.png" alt="gopher" height="120" width="120">
    <p>Enjoy your coffee!</p>
    <p><b>ID:</b> {{ .ID}}</p>
    <p><b>Flavor:</b> {{ .Flavor}} </p>
    <p><b>Preparation State:</b> {{ .PreparationState}} </p>
    <p>Thanks, come again!</p>
{{ end }}