<!DOCTYPE html>
    <html lang=en>
    <head>
        <meta charset="UTF-8">
        <title>Coffee-on-the-go</title>
    </head>
    <body>
        <h1><b>Coffee-on-the-go</b></h1>
        <img src="/assets/gopher_index.png" alt="gopher" height="100" width="100">
        <p>Welcome to Coffee-on-the-go, how can I serve you today?</p>
        <p>To brew coffee, send BREW/POST request methods via /coffee/brew route!</p>
        <p>More information <a href="https://github.com/pisces-period/coffee-on-the-go">here</a></p>
    </body>
</html>
