<!DOCTYPE html>
    <html lang=en>
    <head>
        <meta charset="UTF-8">
        <title>Coffee-on-the-go</title>
    </head>
    <body>
        <h1><b>I'm a Teapot</b></h1>
        {{/* 418 I'm a Teapot */}}
        <p>It's 04:18</p>
        <img src="/assets/gopher_tea.png" alt="gopher" height="120" width="120">
        <p>The requested entity body is short and stout</p>
        <p>Dear Watson, it's time for tea</p>
    </body>
</html>
